<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="background-color: darkgray; text-align: center; padding: 10px;">
        <img src="fatec_ra_sorocaba_sorocaba_cor.png" alt="FATEC Sorocaba Logo" style="height: 100px;">
    </header>
    <h1>Cursos</h1>
    <section style="background-color: darkgray; padding: 20px;">
        <h2>Análise e Desenvolvimento de Sistemas</h2>
        <p>Curso focado no desenvolvimento de software, abrangendo programação, banco de dados e engenharia de software.</p>
        <h2>Gestão Empresarial</h2>
        <p>Curso voltado para a administração e gestão de negócios, com foco em estratégias empresariais.</p>
        <h2>Logística</h2>
        <p>Curso que aborda a gestão da cadeia de suprimentos, transporte e armazenamento de produtos.</p>
    </section>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: lightgray;
            color: #333;
        }
    </style>
        <br>
        <br>
        <a href="/">Voltar</a>
</body>
</html>