<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
</head>
<body>
    <h1>FATEC SOROCABA</h1>
<nav>
    <ul>
        <li><a href="/admin/adicionar_usuarios">Adicionar Usuário</a></li>
        <li><a href="/informacao/historia">Sobre</a></li>
        <li><a href="/informacao/cursos">Cursos</a></li>
        <li><a href="/informacao/professores">Professores</a></li>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: lightgray;
                color: #333;
            }
            li {
                display: inline;
                margin-right: 10px;
                font-size : 18px;
            }
        </style>
    </ul>
</nav>
<section>
    <h2>Bem-vindo à Fatec Sorocaba</h2>
    <p>A Fatec Sorocaba oferece cursos de qualidade para formar profissionais capacitados para o mercado de trabalho.</p>
</section>
<footer>
    <p>&copy; 2023 Fatec Sorocaba. Todos os direitos reservados.</p>
</footer>
</body>
</html>