<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>História da Fatec Sorocaba</h1>
    <h2>A Fatec Sorocaba foi fundada em 1970,
         com o objetivo de oferecer ensino superior
          de qualidade focado em tecnologia e inovação. 
          Desde então, tem formado profissionais altamente 
          capacitados, contribuindo para o desenvolvimento da região e do país.</h2>
</body>
</html>